.create section[role=main] {
    -ms-grid-row: 2;
}

.create form {
    margin-bottom: 60px;
    margin-left: 45px;
    margin-right: 115px;
    margin-top: 28px;
}

    .create form fieldset {
        border: none;
    }

        .create form fieldset span {
            display: inline-block;
            width: 200px;
        }

.create textarea {
    height: 150px;
}
