.item form {
    margin-bottom: 60px;
    margin-left: 45px;
    margin-right: 115px;
    margin-top: 28px;
}

    .item form fieldset {
        border: none;
    }

        .item form fieldset label {
            display: inline-block;
            width: 200px;
        }

.item textarea {
    height: 150px;
}
